.footer {
  background-image: url(../background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer a {
  text-decoration: none;
}

.footer li {
  list-style-type: none;
}
.footer .link {
  color: black;
}
.footer .link:hover {
  text-decoration: underline;
}
