.card {
  /* background-image: url("../background.svg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #28ffbf;*/
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.1s;
  padding: 20px;
  margin-bottom: 15px;
}
.App-logo {
  pointer-events: none;
  width: 100%;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 10px 5px 1px rgba(0, 0, 0, 0.45);
  /* background-image: url("../background.svg");
  background-repeat: no-repeat;
  background-size: cover; */
}
.card-header {
  text-align: center;
  margin-bottom: 20px;
}
.ind-hero {
  background-color: #28ffbf;
}
